* {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
}



header{
    background-image: linear-gradient(90deg, #790000 0.5%, #ff0000 100%);
    height: 100px;
    margin: 30px;
}

header div{
    color: white;
    font-size: 60px;
    padding-left: 20px;
}

body{
    background-image: url("/assets/oceanopetroleo.jpg");
    background-position: bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin: 0%;
}

body * {
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 160%;
}

main{
    background-color: rgb(255, 242, 224);
    padding: 30px;
    padding-top: 60px;
}

p{
    margin-top: 10px;
    color: rgb(0, 10, 102);
}

h1{
    margin: 10px;
    font-size: 40px;
    text-align: center;
     color: black;
}

h2{
    margin: 10px;
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    color:black;
}

h3{
    margin: 10px;
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    color: #000;
}

img {
    width: 400px;
    display: flex;
    margin: auto;
    border: solid black 2px;
    border-radius: 3%;
}

.container{
    display: flex;
}

li{
    list-style-type:disc;
}

a{
    text-decoration: none;
    padding: 40px;
}


* {
    margin-left: 30px;
    margin-right: 30px;
}

.lado1{
    display: flex;
}

.lado2{
    display: grid;
}

.refs{
    background-image: url("/assets/fundo.png");
    background-size: 10px;
    border: rgba(215,200,190,230);
    border-radius: 0%;
    border-style: dashed;
    float: left;
}
